# Tag for backend and frontend containers
IMAGE_TAG=main

# run workers on the main thread, do not use extra containers for workers (default false)
USE_WORKERS=false

# number of replicas for the main backend process
BACKEND_REPLICAS=3

# number of replicas for the workers process
WORKERS_REPLICAS=3

# backend host passed to the caddy container. edit if your setup is different
# this is the default for 3 backend replicas running on docker compose
BACKEND_HOST="wafrn-backend-1:9000 wafrn-backend-2:9000 wafrn-backend-3:9000"

# config for the internal caddy server used by the frontend container
AUTO_HTTPS_MODE="auto_https off"
HTTP_PORT=80
HTTPS_PORT=443

# Admin user
ADMIN_USER=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=example_password

# JWT details
JWT_SECRET=secret

# Domain name
DOMAIN_NAME=localhost:8080
CACHE_DOMAIN=localhost:8081
MEDIA_DOMAIN=localhost:8082
MONITORING_DOMAIN=localhost:8083
BULLBOARD_DOMAIN=localhost:8084

# Public-facing full URL for media files uploaded to Wafrn
FRONTEND_MEDIA_URL="http://localhost:8082"

# Public-facing full URL for cached files
FRONTEND_CACHE_URL="http://localhost:8081/api/cache?media="

# Frontend metadata
FRONTEND_SHORT_TITLE="Wafrn"
FRONTEND_LONG_TITLE="Wafrn, the social media that respects you"
FRONTEND_DESCRIPTION="Wafrn is a federated social media inspired by tumblr that connects with the fediverse and bluesky"

# email campaign donation url
DONATION_URL="https://localhost/about"

# Instance type
# Set to PUBLIC if it's a public instance, or PRIVATE if not
# Set to INVITE if you want it to require invite code, we recommend that
# you disable review registrations if you set it to invite
REGISTRATION_LEVEL=PUBLIC
REGISTRATIONS_DISABLED_TEXT="This instance is a private instance, and does not allow registrations"
REVIEW_REGISTRATIONS=true
REGISTRATION_MINIMUM_AGE=18

# Bubble/Blocked servers show type
# HIDDEN (for everyone), require LOGGEDIN, show PUBLIC(ly)
BUBBLE_SERVERS_SHOW_TYPE=PUBLIC
BLOCKED_SERVERS_SHOW_TYPE=LOGGEDIN

# Admin thingys
AUTOFOLLOW_MAIN_ADMIN=true

# Email setup
DISABLE_REQUIRE_SEND_EMAIL=false
SMTP_HOST=smtp.example.com
SMTP_USER=wafrn
SMTP_PORT=587
SMTP_PASSWORD=password
SMTP_FROM=wafrn@example.com

# Database
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DBNAME=wafrn
SHM_SIZE=2gb

# Let's Encrypt
ACME_EMAIL=mail@example.com

# Web Push / Unified Push
WEBPUSH_EMAIL=mailto:info@wafrn.net
WEBPUSH_PRIVATE=
WEBPUSH_PUBLIC=

# BlueSky integration
# Only enable once you have read the README on the BlueSky integration, otherwise your wafrn instance will crash
ENABLE_BSKY=false
COMPOSE_PROFILES=bluesky

# microcosm.blue integration for faster ATProto requests
CONSTELLATION_URL=https://constellation.microcosm.blue
SLINGSHOT_URL=https://slingshot.microcosm.blue
JETSTREAM_URL=wss://jetstream.fire.hose.cam/subscribe

# If you want a different handle domain than the set on PDS_DOMAIN_NAME uncomment below and set it here
# you can do multiple handle domains by seperating them with a comma (no spaces)
# ALSO ADD A DOT BEFORE THE DOMAIN OR ELSE IT BREAKS then add a caddyfile entry for this, PDS host is pds:3000
# PDS_SERVICE_HANDLE_DOMAINS=.bsky.example.com

# Bluesky PDS options
PDS_HTTP_PORT=127.0.0.1:3000
PDS_DOMAIN_NAME=bsky.example.com
PDS_JWT_SECRET=
PDS_ADMIN_PASSWORD=
PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX=
PDS_APPVIEW_URL=https://api.bsky.app
PDS_APPVIEW_DID=did:web:api.bsky.app
PDS_MOD_URL=https://mod.bsky.app
PDS_MOD_DID=did:plc:ar7c4by46qjdydhdevvrndac
PDS_DATA_DIRECTORY=/pds
PDS_BLOBSTORE_DISK_LOCATION=/pds/blocks
PDS_BLOB_UPLOAD_LIMIT=52428800
PDS_DID_PLC_URL="https://plc.directory"
PDS_BSKY_APP_VIEW_URL="https://api.bsky.app"
PDS_BSKY_APP_VIEW_DID="did:web:api.bsky.app"
PDS_REPORT_SERVICE_URL="https://mod.bsky.app"
PDS_REPORT_SERVICE_DID="did:plc:ar7c4by46qjdydhdevvrndac"
PDS_CRAWLERS=https://atproto.africa
LOG_LEVEL="debug"
LOG_ENABLED=true

# Monitoring - pgwatch
POSTGRES_METRICS_USER=pgwatch
POSTGRES_METRICS_PASSWORD=
POSTGRES_METRICS_DBNAME=pgwatch_metrics

# Monitoring - Grafana
GF_SECURITY_ADMIN_PASSWORD=
GF_SERVER_HTTP_PORT=2345
GF_USERS_ALLOW_SIGN_UP='false'
GF_SMTP_ENABLED='false'

# Debugging
ENABLE_RAW_OUTPUT=false

# Docker file
COMPOSE_FILE=docker-compose.default.yml
COMPOSE_PROJECT_NAME=wafrn
