nxt-json-view {
    --nxt-json-view-color-value: var(--mat-sys-on-primary-container);
    --nxt-json-view-color-key: var(--mat-sys-on-tertiary-container);
    --nxt-json-view-color-boolean: var(--mat-sys-error);
}