.user-name,
.user-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.35;
}

.follow-button {
  height: 1.75em;
  cursor: pointer;
  border-color: var(--mat-sys-outline-variant);
  padding: 0.5em;
  border-radius: var(--mat-sys-corner-small);
}

.date-line {
  color: var(--mat-sys-outline);
  line-height: 1;
  gap: 0.375rem; // Does not exist in PrimeFlex
}

.external-emoji {
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  color: var(--mat-sys-primary);
  height: var(--mat-button-protected-container-height, 40px);
  font-family: var(--mat-button-protected-label-text-font, var(--mat-sys-label-large-font));
  font-size: var(--mat-button-protected-label-text-size, var(--mat-sys-label-large-size));
  letter-spacing: var(--mat-button-protected-label-text-tracking, var(--mat-sys-label-large-tracking));
  text-transform: var(--mat-button-protected-label-text-transform);
  font-weight: var(--mat-button-protected-label-text-weight, var(--mat-sys-label-large-weight));
  padding: 0 var(--mat-button-protected-horizontal-padding, 24px);
  vertical-align: middle;
  border-radius: var(--mat-button-protected-container-shape, var(--mat-sys-corner-full));
}

.post-emoji {
  min-width: 24px;
}

@media (pointer: coarse), (hover: none) {
  .post-emoji,
  .external-emoji {
    pointer-events: none;
  }
}