.avatar {
  max-height: 32px;
  max-width: 32px;
  display: inline-flex;
}

.report-type {
  color: var(--mat-sys-on-surface);
  font-size: 0.8rem;
}

.report-severity {
  font-weight: bold;
  --color-least: oklch(from var(--mat-sys-primary) l calc(c + 0.2) 144);
  --color-most: oklch(from var(--mat-sys-primary) l 0.2 16.4);
  color: color-mix(
    in oklch,
    var(--color-least) calc(100% - var(--severity-scale, 0%)),
    var(--color-most) var(--severity-scale, 100%)
  );
}

.report-description {
  max-width: 45ch;
}

@media (min-width: 992px) {
  .block-list-container {
    margin-left: 360px;
  }
}

.primary {
  --mat-button-filled-container-color: var(--mat-sys-primary);
}
.warn {
  --mat-button-filled-container-color: var(--mat-sys-error);
}
